---
layout: default-core
baseurl: '../'
title: Financial Support
description: >-
  KCC has numerous options for students of all income levels to receive
  financial support including multiple grants for their education.
page_lead: >-
  KCC has numerous options for students of all income levels to receive
  financial support including multiple grants for their&nbsp;education.
banner_image: uploads/financial-support_opportunities-banner.jpg
banner_alt_text: >-
  KCC has financial support opportunities. You may be eligible for some of it!
  The money does not have to be repaid. Funds can cover tuition, fees, books,
  supplies & other needs.
_inputs:
  page_lead:
    comment: Lead paragraph for the page (larger intro text)
---

<!-- Build -->
<main class="container">
  <div class="row mb-5">
    <div class="col">
      {% include breadcrumbs.html %}
      <div class="text-center">
        {% assign first_char = page.banner_image | slice: 0 %}
        {% if first_char == '/' %}
          {% assign banner = page.banner_image | remove_first: '/' %}
        {% else %}
          {% assign banner = page.banner_image %}
        {% endif %}
        <img
          src="{{ page.baseurl }}{{ banner }}"
          class="img-fluid mb-3"
          alt="{{ page.banner_alt_text }}">
      </div>
      <h2 class="typography__h2 mb-3">{{ page.title }}</h2>
      <p class="lead">{{ page.page_lead }}</p>
      <div class="editable mb-3">
        <p class="mb-1"><strong>To be considered:</strong></p>
        <ol>
          <li>Fill out the request form.</li>
          <li>KCC will respond within 7 business days.</li>
        </ol>
        <p>
          <strong>Note:</strong> If you are registered and already paid, you can still fill out the information.
          Any money received will be a&nbsp;reimbursement.
        </p>
      </div>
      <script
        type="text/javascript"
        src="https://form.jotform.com/jsform/250055837455056"
      ></script>
      <div class="editable">
        <h3 class="typography__h3">Current Funds Available</h3>
        <p class="mb-1">
          <strong>JTED</strong> - Job Training Economic Development<br>
          <strong>ARPA</strong> - American Rescue Plan Act<br>
          <strong>Fast Track</strong> - EV Battery Manufacturing Fast Track Training Support<br>
          <strong>Students in the following programs may quality for JTED, ARPA and/or Fast Track:</strong>
        </p>
        <ul>
          <li>Information Technology</li>
          <li>Diesel Mechanic</li>
          <li>Automotive Technology</li>
          <li>Electrical Engineering Technology/Renewable Energy</li>
          <li>Manufacturing Technology</li>
          <li>Welding Technology.</li>
        </ul>
        <p class="mb-1">
          <strong>PATH</strong> - Pipeline for the Advancement of the Healthcare Workforce Program
        </p>
        <ul>
          <li>Health Careers students can benefit from this grant.</li>
        </ul>
        <p class="mb-1">
          <strong>WIOA</strong> - Workforce Innovation & Opportunity Act
        </p>
        <ul>
          <li>WIOA is for students in most career and technical programs (includes health careers, technology, technical education and&nbsp;more).</li>
        </ul>
        <p>
          Are you thinking “Too good to be true”? or “What's the catch?” Yes, you have to provide information. Your information is
          required for us to meet the funding/reporting requirements. Rest assured, we want KCC students to benefit and we want to
          find what you qualify for. Please contact us at <a href="mailto:financialsupport@kcc.edu">financialsupport@kcc.edu</a>
          for more information. Or, fill out the form and we'll get in&nbsp;touch.
        </p>
      </div>
    </div>
  </div>
</main>
