---
layout: default-core
baseurl: '../'
title: Financial Aid
description: ''
hero_banner_image: uploads/payment-deadline-date-banner_2022.jpg
hero_banner_alt: >-
  If you haven't paid for fall classes yet, please: Set-up a payment plan, 
  Complete your Financial Aid, Pay in full in Self-Service (my.kcc.edu) or 
  by phone at 815-802-8140. The payment deadline is 5 p.m. Tuesday, Sept. 6
hero_banner_link: '#'
---

<!-- Build -->
<main class="container links__offset" id="content">
  <div class="row mb-5">
    <div class="col">
      {%- comment -%}
      {% include hero-banner.html %}
      {%- endcomment -%}
      {% include breadcrumbs.html %}
      <h2 class="typography__h2 mb-3">{{ page.title }}</h2>
      <div class="editable mb-3">
        <p class="lead mb-2">
          It's important to remember: There is still time to apply for—and receive—financial aid for the 2024-25 school year.
        </p>
        <a href="{{ page.baseurl }}uploads/pdf/student-financial-aid_one-pager.pdf" class="btn btn-primary" target="_blank">
          Financial Aid Flier in English
        </a>
        <a href="{{ page.baseurl }}uploads/pdf/student-financial-aid_one-pager_spanish.pdf" class="btn btn-primary" target="_blank">
          Financial Aid Flier in Spanish
        </a>
      </div>
      <h3 class="typography__h3">2024-2025 FAFSA<sup>&reg;</sup> Updates</h3>
      <div class="edtiable">
        <p class="lead">There are significant changes to the 2024-2025 FAFSA&reg;.</p>
        <p>More information can be found in <a href="#fafsa-changes">2024-25 FAFSA Changes</a> below.</p>
      </div>
      {% include accordion.html %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% include tabbed-content.html %}
    </div>
  </div>
</main>
{% include contacts.html %}
