---
layout: default-core
homepage: true
baseurl:
title: Tuition & Aid
description:
slides:
  - image: uploads/paying-for-college-web-banner_16by9.jpg
    alt-text: Paying for college financial aid workshop
    url: uploads/pdf/paying-for-college-flier_2021.pdf
hero_banner: uploads/scholarship-deadline-banner-9302021.jpeg
hero_banner_alt: >-
  Apply for Scholarships Oct. 1 - May 1. Apply online one time to be considered
  for hundreds of available KCC Foundation scholarships. More than $200,000 in
  scholarships awarded for the 2022-23 academic year
hero_banner_link: https://foundation.kcc.edu/scholarships/
---

<main class="container">
  {%- comment -%}
  <!-- Uncomment to add hero-sider -->
  {% include hero-slider.html %}
  {%- endcomment -%}
  <div class="row">
    <div class="col">
      {%- comment -%}
      To switch from a banner to a slider:
        - Comment-out below: from `{% if page.hero_banner_link %}` to the matching `{% endif %}`
        - Uncomment the above include statement: `{% includes hero-slider.html %}`
      {%- endcomment -%}
      {% if page.hero_banner_link %}
      <a href="{{ page.hero_banner_link }}">
      {% endif %}
      <img
        src="{{ page.baseurl }}{{ page.hero_banner }}"
        class="img-fluid img__full-width mb-3"
        alt="{{ page.hero_banner_alt }}">
      {% if page.hero_banner_link %}
      </a>
      {% endif %}
      {% include breadcrumbs.html %}
      <h2 class="typography__h2">{{ page.title }}</h2>
      {% include accordion.html %}
    </div>
  </div>
</main>
