---
layout: default-core
homepage: true
baseurl:
title: Tuition & Aid
description:
page_lead: >-
  KCC has numerous options for students of all income levels to receive
  financial support including multiple grants for their&nbsp;education.
page_lead_call_to_action:
  show_button: true
  button_text: 'Financial Support Opportunities'
  button_link: './financial-support/'
_inputs:
  page_lead:
    type: textarea
    comment: Lead paragraph for the page (larger intro text)
  page_lead_call_to_action:
    comment: Add a button/link after the page lead to use as a call-to-action.
  page_lead_call_to_action.show_button:
    comment: Show or hide a button/link after the page lead
---
<main class="container">
  <div class="row">
    <div class="col">
      {% include breadcrumbs.html %}
      <h2 class="typography__h2">{{ page.title }}</h2>
      {% if page.page_lead %}
        <p class="lead mb-1">{{ page.page_lead }}</p>
      {% endif %}
      {% if page.page_lead_call_to_action.show_button %}
        <a href="{{ page.page_lead_call_to_action.button_link }}" class="btn btn-primary mb-3">{{ page.page_lead_call_to_action.button_text }}</a>
      {% endif %}
      {% include accordion.html %}
    </div>
  </div>
</main>
