<h3 class="typography__h3">Federal Loan Proration (2026-27) - Dependent Students</h3>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <caption>Federal Loan Proration (2026-27) - Dependent Students</caption>
    <thead>
      <tr class="table-primary">
        <th
          id="categories"
          scope="col"
        >Credits (Per Semester)</th>
        <th
          id="column-1"
          scope="col"
        >Enrollment Intensity</th>
        <th
          id="column-2"
          scope="col"
        >Dependent Students - First Year, Per Semester</th>
        <th>Dependent Students - First Year, Annual Total</th>
        <th>Dependent Students - Second Year, Per Semester</th>
        <th>Dependent Students - Second Year, Annual Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th
          id="category-1"
          headers="categories"
          scope="row"
        >12</th>
        <td headers="category-1 column-1">100%</td>
        <td headers="category-1 column-2">$2,750</td>
        <td>$5,500</td>
        <td>$3,250</td>
        <td>$6,500</td>
      </tr>
      <tr>
        <th
          id="category-2"
          headers="categories"
          scope="row"
        >11</th>
        <td headers="category-2 column-1">92%</td>
        <td headers="category-2 column-2">$2,530</td>
        <td>$5,060</td>
        <td>$2,990</td>
        <td>$5,980</td>
      </tr>
      <tr>
        <th
          id="category-3"
          headers="categories"
          scope="row"
        >10</th>
        <td headers="category-3 column-1">83%</td>
        <td headers="category-3 column-2">$2,282</td>
        <td>$4,565</td>
        <td>$2,697</td>
        <td>$5,395</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >9</th>
        <td headers="category-3 column-1">75%</td>
        <td headers="category-3 column-2">$2,062</td>
        <td>$4,125</td>
        <td>$2,437</td>
        <td>$4,875</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >8</th>
        <td headers="category-3 column-1">67%</td>
        <td headers="category-3 column-2">$1,842</td>
        <td>$3,685</td>
        <td>$2,177</td>
        <td>$4,355</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >7</th>
        <td headers="category-3 column-1">58%</td>
        <td headers="category-3 column-2">$1,595</td>
        <td>$3,190</td>
        <td>$1,885</td>
        <td>$3,770</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >6</th>
        <td headers="category-3 column-1">50%</td>
        <td headers="category-3 column-2">$1,375</td>
        <td>$2,750</td>
        <td>$1,655</td>
        <td>$3,250</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >1 to 5</th>
        <td headers="category-3 column-1">Below Half-Time Status</td>
        <td headers="category-3 column-2">No Eligibility</td>
        <td>No Eligibility</td>
        <td>No Eligibility</td>
        <td>No Eligibility</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <em>Note: Amounts shown are examples based on equal enrollment each semester and are provided for illustrative purposes
  only. Final loan eligibility is subject to U.S. Department of Education guidance, which remains pending. Annual loan
  limits apply based on grade level and dependency status. Institutions may adjust loan amounts as needed to ensure annual
  limits are not exceeded. Based on individual eligibility, some students may qualify for less than the amounts
  shown&nbsp;above.</em>
</p>
<h3 class="typography__h3">Federal Loan Proration (2026-27) - Independent Students</h3>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <caption>Federal Loan Proration (2026-27) - Independent Students</caption>
    <thead>
      <tr class="table-primary">
        <th
          id="categories"
          scope="col"
        >Credits (Per Semester)</th>
        <th
          id="column-1"
          scope="col"
        >Enrollment Intensity</th>
        <th
          id="column-2"
          scope="col"
        >Independent Students - First Year, Per Semester</th>
        <th>Independent Students - First Year, Annual Total</th>
        <th>Independent Students - Second Year, Per Semester</th>
        <th>Independent Students - Second Year, Annual Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th
          id="category-1"
          headers="categories"
          scope="row"
        >12</th>
        <td headers="category-1 column-1">100%</td>
        <td headers="category-1 column-2">$4,750</td>
        <td>$9,500</td>
        <td>$5,250</td>
        <td>$10,500</td>
      </tr>
      <tr>
        <th
          id="category-2"
          headers="categories"
          scope="row"
        >11</th>
        <td headers="category-2 column-1">92%</td>
        <td headers="category-2 column-2">$4,370</td>
        <td>$8,740</td>
        <td>$4,830</td>
        <td>$9,660</td>
      </tr>
      <tr>
        <th
          id="category-3"
          headers="categories"
          scope="row"
        >10</th>
        <td headers="category-3 column-1">83%</td>
        <td headers="category-3 column-2">$3,943</td>
        <td>$7,885</td>
        <td>$4,357</td>
        <td>$8,715</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >9</th>
        <td headers="category-3 column-1">75%</td>
        <td headers="category-3 column-2">$3,563</td>
        <td>$7,125</td>
        <td>$3,937</td>
        <td>$7,875</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >8</th>
        <td headers="category-3 column-1">67%</td>
        <td headers="category-3 column-2">$3,183</td>
        <td>$6,365</td>
        <td>$3,517</td>
        <td>$7,035</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >7</th>
        <td headers="category-3 column-1">58%</td>
        <td headers="category-3 column-2">$2,755</td>
        <td>$5,510</td>
        <td>$3,045</td>
        <td>$6,090</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >6</th>
        <td headers="category-3 column-1">50%</td>
        <td headers="category-3 column-2">$2,375</td>
        <td>$4,750</td>
        <td>$2,625</td>
        <td>$5,250</td>
      </tr>
      <tr>
        <th
          headers="categories"
          scope="row"
        >1 to 5</th>
        <td headers="category-3 column-1">Below Half-Time Status</td>
        <td headers="category-3 column-2">No Eligibility</td>
        <td>No Eligibility</td>
        <td>No Eligibility</td>
        <td>No Eligibility</td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  <em>Note: Amounts shown are examples based on equal enrollment each semester and are provided for illustrative purposes
  only. Final loan eligibility is subject to U.S. Department of Education guidance, which remains pending. Annual loan
  limits apply based on grade level and dependency status. Institutions may adjust loan amounts as needed to ensure annual
  limits are not exceeded. Based on individual eligibility, some students may qualify for less than the amounts
  shown&nbsp;above.</em>
</p>
