@use '../0-tools/vars' as *;

.foot-note__sup {
  top: 0;
  font-size: 1rem;
  font-family: $font-family-paragraph;
}

.foot-note__link {
  color: $grey-1;
  &--sup {
    font-size: 85%;
    top: -.35rem;
  }
}
