---
layout: default-core
baseurl: '../../'
title: Financial Aid Forms & Resources
description: >-
  Access Kankakee Community College financial aid forms, handbooks, verification worksheets, and SAP appeal documents for
  current and upcoming academic years.
---
<div class="container">
  <div class="row">
    <div class="col">
      {% include breadcrumbs.html %}
      <h1 class="typography__h1 mb-3">{{ page.title }}</h1>
      <div class="editable mb-3 typography__lead">
        <p>
          Access Kankakee Community College financial aid forms, financial aid handbooks, financial aid calendars, and
          verification worksheets.
        </p>
        <p>
          To begin the financial aid process, please ensure you have completed the
          <a href="http://www.fafsa.gov/" class="links__launch" target="_blank" rel="noopener">Free Application for Federal Student Aid&nbsp;(FAFSA)<span class="visually-hidden"> (opens in new window)</span></a>.
        </p>
      </div>
      <div class="editable">
        <h2 class="typography__h2 links__offset" id="financial-aid-at-kcc">Financial aid at KCC</h2>
        <h3 class="typography__h5" id="2026-2027-forms">2026–2027 Forms & documents</h3>
        <ul>
          <li><a href="../../uploads/pdf/26-27%20Financial%20Aid%20Handbook.pdf" target="_blank" rel="noopener">26-27 Financial Aid Handbook (PDF, 880KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Financial%20Aid%20Important%20Information.pdf" target="_blank" rel="noopener">26-27 Financial Aid Important Information (PDF, 224KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Financial%20Aid%20Calendar.pdf" target="_blank" rel="noopener">26-27 Financial Aid Calendar (PDF, 305KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Bachelor's%20Degree%20Confirmation.pdf" target="_blank" rel="noopener">26-27 Degree Confirmation (PDF, 173KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Dependency%20Override%20Appeal.pdf" target="_blank" rel="noopener">26-27 Dependency Override Appeal (PDF, 270KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Unusual%20Enrollment%20History%20Form.pdf" target="_blank" rel="noopener">26-27 Unusual Enrollment History Form (PDF, 204KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Income%20Adjustment-Dependent%20Student.pdf" target="_blank" rel="noopener">26-27 Income Adjustment - Dependent Student (PDF, 222KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Income%20Adjustment-Independent%20Student.pdf" target="_blank" rel="noopener">26-27 Income Adjustment - Independent Student (PDF, 237KB)</a></li>
          <li>
            <strong>26-27 SAP Appeal Form:</strong>
            <ul>
              <li><a href="https://form.jotform.com/261245063530044" class="links__launch" target="_blank" rel="noopener noreferrer">26-27 SAP Appeal Form (Digital Form)<span class="visually-hidden"> (opens in new window)</span></a></li>
              <li><a href="../../uploads/pdf/26-27%20SAP%20Appeal%20Form.pdf" target="_blank" rel="noopener">26-27 SAP Appeal Form (Accessible PDF for Printing) (PDF, 283KB)</a></li>
            </ul>
          </li>
          <li><a href="../../uploads/pdf/26-27%20Tax%20Filing%20Confirmation%20-%20Student.pdf" target="_blank" rel="noopener">26-27 Tax Filing Confirmation Form - Student (PDF, 197KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Tax%20Filing%20Confirmation%20-%20Student%20Spouse.pdf" target="_blank" rel="noopener">26-27 Tax Filing Confirmation Form - Student Spouse (PDF, 202KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Tax%20Filing%20Confirmation%20-%20Parent.pdf" target="_blank" rel="noopener">26-27 Tax Filing Confirmation Form - Parent (PDF, 214KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Tax%20Filing%20Confirmation%20-%20Parent%20Spouse.pdf" target="_blank" rel="noopener">26-27 Tax Filing Confirmation Form - Parent Spouse (PDF, 198KB)</a></li>
        </ul>
        <h3 class="typography__h5" id="2025-2026-forms">2025–2026 Forms & documents</h3>
        <ul>
          <li><a href="../../uploads/pdf/25-26%20FA%20Handbook.pdf" target="_blank" rel="noopener">25-26 Financial Aid Handbook (PDF, 561KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Financial%20Aid%20Important%20Information.pdf" target="_blank" rel="noopener">25-26 Financial Aid Important Information (PDF, 329KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Financial%20Aid%20Calendar.pdf" target="_blank" rel="noopener">25-26 Financial Aid Calendar (PDF, 300KB)</a></li>
          <li><a href="../../uploads/pdf/2025-26%20paper%20fafsa%20English.pdf" target="_blank" rel="noopener">25-26 FAFSA Application ENGLISH (PDF, 1.4MB)</a></li>
          <li><a href="../../uploads/pdf/2025-26%20paper%20fafsa%20Spanish.pdf" target="_blank" rel="noopener">25-26 FAFSA Application SPANISH (PDF, 1.3MB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Bachelor's%20Degree%20Confirmation.pdf" target="_blank" rel="noopener">25-26 Degree Confirmation (PDF, 148KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Dependency%20Override%20Appeal.pdf" target="_blank" rel="noopener">25-26 Dependency Override Appeal (PDF, 257KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Unusual%20Enrollment%20History%20Form.pdf" target="_blank" rel="noopener">25-26 Unusual Enrollment History Form (PDF, 163KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Income%20Adjustment-Dependent%20Student.pdf" target="_blank" rel="noopener">25-26 Income Adjustment - Dependent Student (PDF, 137KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Income%20Adjustment-Independent%20Student.pdf" target="_blank" rel="noopener">25-26 Income Adjustment - Independent Student (PDF, 134KB)</a></li>
          <li>
            <strong>25-26 SAP Appeal Form:</strong>
            <ul>
              <li><a href="https://form.jotform.com/261245063530044" class="links__launch" target="_blank" rel="noopener noreferrer">25-26 SAP Appeal Form (Digital Form)<span class="visually-hidden"> (opens in new window)</span></a></li>
              <li><a href="../../uploads/pdf/25-26%20SAP%20Appeal%20Form.pdf" target="_blank" rel="noopener">25-26 SAP Appeal Form (Accessible PDF for Printing) (PDF, 279KB)</a></li>
            </ul>
          </li>
          <li><a href="../../uploads/pdf/25-26%20Tax%20Filing%20Confirmation%20Form%20-%20Student.pdf" target="_blank" rel="noopener">25-26 Tax Filing Confirmation Form - Student (PDF, 360KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Tax%20Filing%20Confirmation%20Form%20-%20Student%20Spouse.pdf" target="_blank" rel="noopener">25-26 Tax Filing Confirmation Form - Student Spouse (PDF, 368KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Tax%20Filing%20Confirmation%20Form%20-%20Parent.pdf" target="_blank" rel="noopener">25-26 Tax Filing Confirmation Form - Parent (PDF, 368KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Tax%20Filing%20Confirmation%20Form%20-%20Parent%20Spouse.pdf" target="_blank" rel="noopener">25-26 Tax Filing Confirmation Form - Parent Spouse (PDF, 368KB)</a></li>
        </ul>
        <h2 class="typography__h2 links__offset" id="state-map-grant-information">State MAP grant information</h2>
        <h3 class="typography__h5" id="26-27-map-grant">2026–2027 MAP grant</h3>
        <ul>
          <li><a href="../../uploads/pdf/26-27%20MAP%20Award%20Notification.pdf" target="_blank" rel="noreferrer">26-27 MAP Award Announcement (PDF, 158KB)</a></li>
        </ul>
        <h3 class="typography__h5" id="25-26-map-grant">2025–2026 MAP grant</h3>
        <ul>
          <li><a href="../../uploads/pdf/25-26%20MAP%20Award%20Announcement.pdf" target="_blank" rel="noopener">25-26 MAP Award Announcement (PDF, 153KB)</a></li>
        </ul>
        <h2 class="typography__h2 links__offset" id="financial-aid-policies">Financial Aid Policies</h2>
        <p>See <a href="../#kcc-financial-aid-policies">Financial Aid Policies</a>.</p>
        <h2 class="typography__h2 links__offset" id="verification-selection">Verification selection</h2>
        <p>The federal process selects at random one-third of KCC’s students for verification. Check your “Required Documents” on <a href="https://selfservice.kcc.edu/Student/FinancialAid/Home" target="_blank" rel="noopener">Financial Aid Self-Service</a> for required verification items.</p>
        <h3 class="typography__h5" id="26-27-verification">2026–2027 Verification</h3>
        <ul>
          <li><a href="../../uploads/pdf/26-27%20Dependent%20V4%20Verification%20Worksheet.pdf" target="_blank" rel="noopener">26-27 Dependent V4 Verification Worksheet (PDF, 192KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Dependent%20V1-V5%20Verification%20Worksheet.pdf" target="_blank" rel="noopener">26-27 Dependent Verification Worksheet - V1, V5 (PDF, 253KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Dependent%20Illinois%20Residency%20Requirements.pdf" target="_blank" rel="noopener">26-27 Illinois Residency Requirements - Dependent (PDF, 108KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Independent%20Illinois%20Residency%20Requirements.pdf" target="_blank" rel="noopener">26-27 Illinois Residency Requirements - Independent (PDF, 109KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Independent%20V4%20Verification%20Worksheet.pdf" target="_blank" rel="noopener">26-27 Independent V4 Verification Worksheet (PDF, 192KB)</a></li>
          <li><a href="../../uploads/pdf/26-27%20Independent%20V1-V5%20Verification%20Worksheet.pdf" target="_blank" rel="noopener">26-27 Independent Verification Worksheet - V1, V5 (PDF, 249KB)</a></li>
        </ul>
        <h3 class="typography__h5" id="25-26-verification">2025–2026 Verification</h3>
        <ul>
          <li><a href="../../uploads/pdf/25-26%20Dependent%20V4%20Verification%20Worksheet.pdf" target="_blank" rel="noopener">25-26 Dependent V4 Verification Worksheet (PDF, 206KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Dependent%20V1-V5%20Verification%20Worksheet.pdf" target="_blank" rel="noopener">25-26 Dependent Verification Worksheet - V1, V5 (PDF, 248KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Dependent%20Illinois%20Residency%20Requirements.pdf" target="_blank" rel="noopener">25-26 Illinois Residency Requirements - Dependent (PDF, 135KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Independent%20Illinois%20Residency%20Requirements.pdf" target="_blank" rel="noopener">25-26 Illinois Residency Requirements - Independent (PDF, 126KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Independent%20V4%20Verification%20Worksheet.pdf" target="_blank" rel="noopener">25-26 Independent V4 Verification Worksheet (PDF, 200KB)</a></li>
          <li><a href="../../uploads/pdf/25-26%20Independent%20V1-V5%20Verification%20Worksheet.pdf" target="_blank" rel="noopener">25-26 Independent Verification Worksheet - V1, V5 (PDF, 246KB)</a></li>
        </ul>
        <h2 class="typography__h2 links__offset" id="staffordplus-loans">Stafford/PLUS loans</h2>
        <p>Completing the FAFSA is the first step toward receiving student loans. Once your FAFSA file is complete, contact us or visit our office for a KCC student loan or Parent Plus loan application.</p>
        <ul>
          <li><a href="../../uploads/pdf/understanding-your-federal-direct-student-loan-award.pdf" target="_blank" rel="noopener">Understanding your loan (PDF, 124KB)</a></li>
        </ul>
        <h2 class="typography__h2 links__offset" id="kcc-foundation-scholarships">KCC Foundation scholarships</h2>
        <p>After you’ve applied for FAFSA and begun KCC’s Financial Aid process, review the many <a href="https://foundation.kcc.edu/scholarships/" target="_blank" rel="noopener">scholarships</a> available and apply.</p>
        <h2 class="typography__h2 links__offset" id="income-adjustments">Income Adjustments</h2>
        <p>You or your parents may have a special circumstance during a school year when your income changes substantially from the prior year. To apply for an income adjustment, please contact the Office of Financial Aid.</p>
      </div>
    </div>
  </div>
</div>
{% include contacts.html section_heading_level="h2" name_heading_level="h2" %}
